.root{
  width:100%;
  height:100%;
  background: url(/public/spa/static/media/login_wraper.8ab0d297.jpg) navy;
}
.box{
  width:390px;
  height:300px;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  right:130px;
  bottom:230px;
}
.username{
  width:90%;
  margin-left:5% !important;
  margin-top:40px;
}
.left{
  margin-left:20px;
  margin-top:-20px;
}
.right{
 float:right;
 margin-top:-42px;
 margin-right:20px;
}
.btn{
  width:94%;
  height:40px !important;
  margin-left:3%;
  margin-top:10px;
}

